.them-color{
	background-color: #c1ffd6;
}

.user-avatar{
	width: 32px;
	height: 32px;
}

.user-avatar-nav{
	width: 24px;
	height: 24px;
}

.user-avatar-post{
	width: 35px;
	height: 35px;
}

.user-avatar-home{
    width: 45px;
	height: 45px;

}

.post-item-cover-img {
    width: 100%;
    height: 100px;
}

.text-red { color: #ea6f5a; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.bg-purple { background-color: var(--purple); }




.center-in-center{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/* ---------------------
 * loading 加载圈圈
 ----------------------- */
#loader-wrapper{z-index:1000;position:fixed;top:50%;left:50%}
#loader{display:block;position:relative;left:50%;top:50%;width:90px;height:90px;margin:-45px 0 0 -45px;border:3px solid transparent;border-top-color:#5cc7b2;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite;}
#loader:before{content:"";position:absolute;top:5px;left:5px;right:5px;bottom:5px;border:3px solid transparent;border-top-color:#2196f3;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite;}
#loader:after{content:"";position:absolute;top:15px;left:15px;right:15px;bottom:15px;border:3px solid transparent;border-top-color:#ea6f5a;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite;}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}@keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}


